<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 well well-lg master-well">
      <div class="well well-lg">
        <h1 class="form-header">Account Dashboard</h1>
      </div>
        <div class="panel panel-default" style="background: #fafafa;">
          <div class="panel-heading">
            <h3 class="form-header">Owners</h3>
          </div>
          <div class="panel-body">
            <% @account.owners.each do |owner| %>
                <ul class="dashboard-list">
                  <h3><%= owner.first_name %> <%= owner.last_name %></h3>
                  <li class="list-group-item"><b>email:</b> <%= owner.email %></li>
                    <ul class="list-group-item">
                      <li><b>address:</b></li>
                      <li><%= owner.number_and_street%></li>
                      <li><%= owner.unit %></li>
                      <li><%= owner.city %>, <%= owner.state %></li>
                      <li><%= owner.zip %></li>
                    </ul>
                  <li class="list-group-item"><b>home phone:</b> <%= owner.home_phone %></li>
                  <li class="list-group-item"><b>work phone:</b> <%= owner.work_phone %></li>
                  <li class="list-group-item"><b>cell phone:</b> <%= owner.cell_phone %></li>
                  <%= link_to 'edit', edit_account_owner_path(owner.account_id, owner.id), :class => 'btn btn-success' %>
                  <%= link_to 'remove', account_owner_path(owner.account_id, owner.id), :class => 'btn btn-danger',
                      method: :delete, data: { confirm: "Are you sure you want to permanently delete #{owner.first_name} #{owner.last_name} from the account?"} %>
                </ul>
                <hr>
            <% end %>
          </div>
        </div>
        <div class="panel panel-default" style="background: #fafafa;">
          <div class="panel-heading">
            <h3 class="form-header">Pets</h3>
          </div>
          <div class="panel-body">
            <% @account.pets.each do |pet| %>
              <ul class="dashboard-list">
                <h3><%= pet.name %></h3>
                <li class="list-group-item"><b>kind:</b> <%= pet.kind %></li>
                <li class="list-group-item"><b>breed:</b> <%= pet.breed %></li>
                <li class="list-group-item"><b>age:</b> <%= pet.age %></li>
                <li class="list-group-item"><b>birth month:</b> <%= pet.birth_month %></li>
                <li class="list-group-item"><b>health history:</b> <%= pet.health_history %></li>
                <li class="list-group-item"><b>current health:</b> <%= pet.current_health %></li>
                <li class="list-group-item"><b>medication:</b> <%= pet.med_name %></li>
                <li class="list-group-item"><b>administration method:</b> <%= pet.med_administer %></li>
                <li class="list-group-item"><b>medication dose:</b> <%= pet.med_dose %></li>
                <li class="list-group-item"><b>medication frequency:</b> <%= pet.med_frequency %></li>
                <li class="list-group-item"><b>feeding instructions:</b> <%= pet.food_instructions %></li>
                <li class="list-group-item"><b>visit instructions:</b> <%= pet.visit_instructions %></li>
                <li class="list-group-item"><b>behavior:</b> <%= pet.behavior %></li>
                <%= link_to 'edit', edit_account_pet_path(pet.account_id, pet.id), :class => 'btn btn-success' %>
                <%= link_to 'remove', account_pet_path(pet.account_id, pet.id), :class => 'btn btn-danger',
                      method: :delete, data: { confirm: "Are you sure you want to permanently delete #{pet.name} from the account?"} %>
              </ul>
              <hr>
            <% end %>
          </div>
        </div>
        <div class="panel panel-default" style="background: #fafafa;">
          <div class="panel-heading">
            <h3 class="form-header">Emergency Contacts</h3>
          </div>
          <div class="panel-body">
            <% @account.emergency_contacts.each do |contact| %>
              <ul class="dashboard-list">
                <h3><%= contact.emerg_first_name %> <%= contact.emerg_last_name %></h3>
                <li class="list-group-item"><b>home phone:</b> <%= contact.emerg_hphone %></li>
                <li class="list-group-item"><b>work phone:</b> <%= contact.emerg_wphone %></li>
                <li class="list-group-item"><b>cell phone:</b> <%= contact.emerg_cphone %></li>
                <%= link_to 'edit', edit_account_emergency_contact_path(contact.account_id, contact.id), :class => 'btn btn-success' %>
                <%= link_to 'remove', account_emergency_contact_path(contact.account_id, contact.id), :class => 'btn btn-danger',
                      method: :delete, data: { confirm: "Are you sure you want to permanently delete #{contact.emerg_first_name} #{contact.emerg_last_name} from the account?"} %>
              </ul>
              <hr>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</div>
