<!DOCTYPE html>
<html>
<head>
  <title>Pet Sitters in San Jose | Shake, Waggle, Stroll!</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="main-nav">
    <nav>
      <% if current_account %>
        Logged in as <%= current_account.email %>
        <%= link_to "logout", logout_path %>
      <% else %>
        <%= link_to "login", login_path %>
      <% end %>
    </nav>
  </div>

  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, id: "flash_#{name}"  %>
  <% end %>

  <%= yield %>

</body>
</html>
