<!DOCTYPE html>
<html>
<head>
  <title>Pet Sitters in San Jose | Shake, Waggle, Stroll!</title>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>



<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand nav-logo" href="#"><%= image_tag('SWSnavbarLogo.png')%></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Howl at Us</a></li>
        <% if current_account %>
          <li><%= link_to 'Reservations', new_account_reservation_path(current_account.id) %></li>
          <li><%= link_to 'Make a Payment', new_account_reservation_path(current_account.id) %></li>
          <li><%= link_to 'Dashboard', account_dashboard_path(current_account.id) %></li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_account %>
          <li><a href="#"><%= current_account.email %></a></li>
          <li><%= link_to "logout", logout_path %></li>
        <% else %>
          <li><%= link_to "login", login_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<% flash.each do |name, msg| %>
  <div class="container">
    <div class="row">
      <div class="alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %> col-md-8 col-md-offset-2 flash-msg">
        <%= content_tag :div, msg, id: "flash_#{name}"  %>
      </div>
    </div>
  </div>
<% end %>

<%= yield %>



</body>
</html>
