<div class="container">
  <div class="row">
    <% if @account.errors.any? %>
      <div class="col-md-8 col-md-offset-2 well well-lg master-well">
        <div class="panel panel-default warning">
            <div class="panel-heading" style="background: #f2dede">
              <h3 class="form-header" style="color: #A94442;" >
                Warning
              </h3>
            </div>
            <div class="panel-body">
              <ul style="font-size: 1.2em;">
                <% @account.errors.full_messages.each do |msg| %>
                  <li><%= msg  %></li>
                <% end %>
              </ul>
             </div>
        </div>
      </div>
    <% end %>

    <div class="col-md-8 col-md-offset-2 well well-lg master-well">
      <div class="well well-lg">
        <h1 class="form-header">Create a new account</h1>
      </div>


<%= form_for :account, url: accounts_path do |f| %>
<div class="well well-lg" style="background: #fafafa;">
  <p>
    <%= f.label :Email %><br>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label "Confirm email" %><br>
    <%= f.text_field :email_confirmation %>
  </p>
  <p>
    <%= f.label :Password %><br>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label "Confirm password" %><br>
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= f.submit :value => 'Create account', :class => 'btn btn-primary' %>
    <%= button_tag 'Reset', :type => 'reset', :class => 'btn btn-primary' %>
  </p>
<% end %>
</div>
</div>